@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Unbounded:wght@200..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 6286px;
    opacity: 1;
    background-color: #121219;
    color: #f4f0e5;
    font-family: Montserrat;
}
.first_page{
    width: 1660px;
    height: 845px;
    /* display: flex; */
    /* border: 2px solid greenyellow; */
    margin: 34px 166px 130px 130px;
}
.navigation_bar{
    width: 1660px;
    height: 44px;
    /* border: 2px solid greenyellow; */
    display: flex;
    margin-bottom: 132px;
}
.navigation_bar_left{
    width: 197px;
    height: 44px;
    display: flex;
    /* border: 2px solid greenyellow; */
    margin-right: 748.58px;
}
nav{
    width: 714px;
    height: 44px;
    display: flex;
    /* border: 2px solid greenyellow; */
    gap: 113px;
}
.navbar{
    width: 497px;
    height: 44px;
    gap: 43.5px;
    display: flex;
    /* border: 2px solid greenyellow; */
}
.Logo{
    width: 104px;
    height: 40px;
    display: flex;
    gap: 24px;
}
.logo{
    margin-left: 10px;
    margin-bottom: 8px;
}
.Logo1{
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}
.Logo2{
    color: #fac02f;
}
.active1{
    border: 2px solid #fac02f;
    border-radius: 5px;
    padding: 10px;
    width: 206px;
    height: 44px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fac02f;
    background-color: #121219;
}
.active2{
    border-radius: 5px;
    padding: 10px;
    width: 135px;
    height: 44px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    backdrop-filter: blur(20px);
    box-shadow: inset -8px 4px 30px 0 rgba(18, 18, 25, 0.25), inset 10px 4px 30px 0 rgba(250, 192, 47, 0.25);
    background: rgba(255, 255, 255, 0.1);
    color: #f4f0e5;
}
.h1{
    width: 69px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0px;
    opacity: 0.7;
    text-decoration: none;
    color:#f4f0e5
}
.Logo{
    margin: 2px 0px;
}
.maininfo{
    width: 1656px;
    height: 657px;
    /* margin-right: 4px; */
    display: flex;
    gap: 261px;
    /* border: 2px solid greenyellow; */

}
.left_sight{
    width: 721px;
    height: 657px;
    /* display: flex; */
    /* border: 2px solid greenyellow; */
}
.right_sight{
    width: 678px;
    height: 655px;
    display: flex;
    /* border: 2px solid greenyellow; */
}
.left_sight_text1{
    width: 721px;
    height: 312px;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 189px;
}
.left_sight_text2{
    color: #fac02f;
}
.left_sight_bottom{
    width: 721px;
    height: 156px;
}
.left_sight_bottom_text{
    width: 539px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 29px;
    
}
.left_sight_bottom_chat{
    width: 721px;
    height: 67px;
    box-shadow: 1px 10px 22px 0 rgba(250, 192, 47, 0.15), 3px 39px 39px 0 rgba(250, 192, 47, 0.13), 7px 88px 53px 0 rgba(250, 192, 47, 0.08), 12px 157px 63px 0 rgba(250, 192, 47, 0.02), 19px 245px 69px 0 rgba(250, 192, 47, 0);
    border-radius: 10px;
    border-color: #fac02f;
    background-color: #fac02f;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color:#121219;
}
.navimg{
    width: 60px;
    height: 553px;
    margin-bottom: 102px;
    margin-right: 68px;
}
.box{
    width: 546px;
    height: 655px;
    margin-right: 4px;
}
.boxtext1{
    width: 546px;
    height: 115px;
    margin-bottom: 133px;
}
.boxtext2{
    width: 546px;
    height: 159px;
}
.info1_top{
    width: 546px;
    height: 44px;
    font-weight: 700;
    font-size: 36px;
    
}
.info2_top{
    width: 546px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
}
.info1_bottom{
    width: 546px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
.second_page{
    width: 1660px;
    height: 785px;
    margin-left: 130px;
    margin-bottom: 179px;
    /* border: 2px solid greenyellow; */
}
.second_page_top{
    width: 1660px;
    height: 128px;
    margin-bottom: 130px;
    /* border: 2px solid greenyellow; */
}
.second_page_top_text1{
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    width: 1660px;
    height: 78px;
    margin-bottom: 20px;
}
.second_page_top_text11{
    color: #fac02f;
}
.second_page_top_text2{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    width: 1660px;
    height: 30px;
}
.second_page_bottom{
    width: 1660px;
    height: 527px;
    /* border: 2px solid greenyellow; */
    display: flex;
    gap: 20px;
}
.second_page_box{
    border: 1px solid #f4f0e5;
    border-radius: 25px;
    width: 398px;
    height: 527px;
}
.second_page_box_logo{
    border: 1px solid #f4f0e5;
    border-radius: 15px;
    width: 360px;
    height: 52px;
    margin: 25px 0px 20px 20px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid greenyellow; */
}
.second_page_box_logo_img{
    width: 32px;
    height: 32px;
    margin: 10px 10px 0px 15px;
}
.second_page_box_string_word{
    font-weight: 700;
    font-size: 20px;
    color: #f4f0e5;
    margin: 14px 14px 15px;
}
.second_page_box_info{
    width: 360px;
    height: 243px;
    margin: 0px 20px;
    /* border: 2px solid greenyellow; */
}
.second_page_box_number{
    width: 360px;
    height: 90px;
    font-weight: 700;
    font-size: 128px;
    line-height: 68%;
    letter-spacing: -0.07em;
    color: #fac02f;
    /* border: 2px solid greenyellow; */
}
.second_page_box_text{
    margin-top: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}
.second_page_box_text11{
    font-weight: 700;
    font-size: 24px;
}
.third_page{
    width: 1660px;
    height: 657px;
    margin-bottom: 180px;
    margin-left: 130px;
    margin-right: 130px;
    /* border: 2px solid greenyellow; */
}
.third_page_top{
    width: 1660px;
    height: 128px;
}
.third_page_top_text1{
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.third_page_top_text11{
    color: #fac02f;
}
.third_page_top_text2{
    width: 1660px;
    height: 128px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}
.third_page_middle{
    margin-top: 129.5px;
    margin-bottom: 129.5px;
    width: 1659px;
    height: 203px;
    border-radius: 25px;
    border: 1px solid #f4f0e5;
}
.third_page_middle_nav{
    display: flex;
    width: 1535px;
    height: 56px;
    margin: 73.5px 73.39px 62.115px 62.115px;
}
.third_page_middle_nav_box1{
    width: 258px;
    height: 56px;
    display: flex;
    /* border: 2px solid greenyellow; */
}
.third_page_middle_nav_box1_numder{
    border-radius: 9px;
    width: 59px;
    height: 56px;
    background-color: #fac02f;
    color: #121219;
    font-weight: 700;
    font-size: 41px;
    /* display: flex; */
    text-align: center;
    /* justify-content: center; */
    /* line-height: 59px; */
    /* align-items: center; */
    /* vertical-align: middle; */
} 
.third_page_middle_nav_box1_phrase{
    width: 131px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-left: 40px;
    margin-top: 13.05px;
    margin-right: 27.09px;

}
.third_page_middle_nav_img1{
    width: 155.38px;
    height: 7.53px;
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 24.29px;
}
.third_page_middle_nav_box2{
    width: 393px;
    height: 56px;
    display: flex;
    /* border: 2px solid greenyellow; */
}
.third_page_middle_nav_box2_numder{
    border-radius: 9px;
    width: 59px;
    height: 56px;
    background-color: #fac02f;
    color: #121219;
    font-weight: 700;
    font-size: 41px;
    /* display: flex; */
    text-align: center;
}
.third_page_middle_nav_box2_phrase{
    width: 242px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-left: 40px;
    margin-top: 13.05px;
    margin-right: 51.09px;
} 
.third_page_middle_nav_img2{
    width: 155.38px;
    height: 7.53px;
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 24.29px;
}
.third_page_middle_nav_box3{
    width: 418px;
    height: 56px;
    display: flex;
    /* border: 2px solid greenyellow; */
}
.third_page_middle_nav_box3_numder{
    border-radius: 9px;
    width: 59px;
    height: 56px;
    background-color: #fac02f;
    color: #121219;
    font-weight: 700;
    font-size: 41px;
    /* display: flex; */
    text-align: center;
}
.third_page_middle_nav_box3_phrase{
    width: 262px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-left: 40px;
    margin-top: 13.05px;
    margin-right: 57.09px;
}
.third_page_bottom{
    width: 604px;
    height: 67px;
    box-shadow: 1px 10px 22px 0 rgba(250, 192, 47, 0.15), 3px 39px 39px 0 rgba(250, 192, 47, 0.13), 7px 88px 53px 0 rgba(250, 192, 47, 0.08), 12px 157px 63px 0 rgba(250, 192, 47, 0.02), 19px 245px 69px 0 rgba(250, 192, 47, 0);
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: #fac02f;
    margin-left: 527.5px;
}
.fourth_page{
    width: 1660px;
    height: 893px;
    margin-bottom: 268px;
    margin-left: 130px;
    margin-right: 130px;
}
.fourth_page_topic{
    width: 1660px;
    height: 78px;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
}
.fourth_page_topic1{
    color: #fac02f;
}
.fourth_page_prices{
    margin-top: 81.4px;
    width: 1207px;
    height: 733px;
    margin-left: 225.5px;
    display: flex;
    gap: 41px;
}
.fourth_page_prices_box{
    border: 1px solid #f4f0e5;
    border-radius: 20px;
    width: 375px;
    height: 733px;
}
.fourth_page_prices_box_border{
    width: 307px;
    height: 585px;
    margin: 53px 95.6px 39px 29px;
}
.fourth_page_prices_box_border_textbox{
    width: 307px;
    height: 194px;
}
.fourth_page_prices_box_border_textbox_texts{
    width: 307px;
    height: 51px;
}
.fourth_page_prices_box_border_textbox_texts_text1{
    font-weight: 700;
    font-size: 24px;
    width: 307px;
    height: 22.81px;
    margin-bottom: 10px;
}
.fourth_page_prices_box_border_textbox_texts_text2{
    font-weight: 400;
    font-size: 16px;
}
.fourth_page_prices_box_border_textbox_cost{
    font-weight: 500;
    font-size: 21px;
    width: 307px;
    height: 111.21px;
    margin-top: 31.36px;
}
.fourth_page_prices_box_border_textbox_cost1{
    font-weight: 600;
    font-size: 85px;
}
.fourth_page_prices_box_border_stroke{
    width: 305px;
    background-color: #f4f0e5;
    margin: 66px 0px;
}
.fourth_page_prices_box_border_texts{
    display: flex;
    width: 307px;  
    height: 54px;
    gap: 26.88px;
}
.fourth_page_prices_box_border_texts_text{
    font-weight: 400;
    font-size: 16px;
}
.fourth_page_img{
    width: 16.74px;
    height: 16.74px;
}
.fourth_page_prices_box_top{
    width: 307px;
    height: 414px;
    margin-left: 29px;
    margin-top: 53px;
}
.fourth_page_prices_box_top_texts{
    width: 307px;
    height: 208px;
    margin-bottom: 60px;
}
.fourth_page_prices_box_top_texts_topic{
    width: 307px;
    height: 66px;
    margin-bottom: 31.36px;
}
.fourth_page_prices_box_top_texts_topic_main{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    height: 29px;
}
.fourth_page_prices_box_top_texts_topic_bottom{
    font-weight: 400;
    font-size: 16px;
    height: 27px;
}
.fourth_page_prices_box_top_texts_prices{
    width: 307px;
    height: 111.21px;
    font-weight: 500;
    font-size: 21px;
}
.fourth_page_prices_box_top_texts_prices1{
    font-weight: 600;
    font-size: 85px;
}
.fourth_page_prices_box_top_buttoms{
    width: 307px;
    height: 146px;
}
.fourth_page_prices_box_top_buttoms1{
    border-radius: 10px;
    width: 307px;
    height: 67px;
    background-color: #fac02f;
    font-weight: 700;
    font-size: 20px;
    color:#121219;
    margin-bottom: 20px;
}
.fourth_page_prices_box_top_link{
    border: 1px solid #f4f0e5;
    border-radius: 10px;
    width: 232.5px;
    height: 39.5px;
    padding-top: 19.5px;
    padding-left: 74.5px;
}
.fourth_page_link{
    font-weight: 600;
    font-size: 16px;
    color: #f4f0e5;
    margin-top: 19.5px;
    text-decoration: none;
}
.fourth_page_prices_box_stroke{
    width: 305px;
    margin: 44px 44px 41px 29px;
    background-color: #f4f0e5;
}
.fourth_page_prices_box_bottom{
    width: 304px;
    height: 125px;
    margin-left: 29px;
}
.fourth_page_prices_box_bottom_texts{
    width: 304px;
    height: 54px;
    display: flex;
}
.fourth_page_prices_box_bottom_texts_text{
    width: 261.02px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 26.88px;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}
.fifth_page{
    width: 1660px;
    height: 609px;
    margin-bottom: 180px;
    margin-left: 130px;
}
.fifth_page_topic{
    width: 1660px;
    height: 78px;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 130px;
}
.fifth_page_topic1{
    color: #fac02f;
}
.fifth_page_questions{
    width: 1660px;
    height: 401px;
    row-gap: 14px;
    display: grid;
}
.fifth_page_question{
    border: 1px solid rgba(244, 240, 229, 0.5);
    border-radius: 10px;
    width: 1660px;
    height: 69px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.01);
    display: flex;
}
.fifth_page_question_text{
    height: 30px;
    width: 600px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin: 20px 19px 0px 20px;
    /* border: 2px solid greenyellow; */
    margin-right: 976px;
}
.fifth_page_question_img{
    
    height: 44px;
    margin: 13px 12px 20px 0px;
}